<% provide(:title, "Home")%>

<% if logged_in?%>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info'%>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/microposts_form'%>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <div class="search_form">
        <%= render 'shared/microposts_search_form' %>
      </div>
      <div class="feed_form">
        <%= render 'shared/feed' %>
      </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>InstaApp</h1>
    <h2>今の自分を写真で共有しよう</h2>
    <%= link_to "いますぐはじめよう！", signup_path , class: "btn btn-lg btn-primary" %>
    <div class="facebook-login">
      <%= link_to "Facebookでログイン", "/auth/facebook" %>
    </div>
  </div>
<% end %>
