<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: [micropost, comment], url: micropost_comments_path(@micropost)) do |f| %>
      <%= f.text_area :content, class: "input-mysize" %>
      <%= f.submit "送信", class: "btn btn-outline-dark comment-submit float-right" %>
    <% end %>
  </div>
</div>