<% provide(:title, "Notice") %>

<div class="notification">
  <h1>Notice</h1>
  <%= link_to "通知削除", notification_path(@notifications), method: :delete ,class: "btn btn-lg btn-primary" %>
  <% if @notifications.exists? %>
  <div class="notification-index">
    <%= render @notifications %>
  </div>
  <% else %>
    <p>通知はありません</p>
  <% end %>
</div>