<div class="row">
  <div class="search_form">
    <%= search_form_for @q do |f| %>
      <%= f.label :name_cont, 'User Search'%>
      <div class="input-group">
        <%= f.search_field :name_cont, placeholder: "Enter username..",
                                             class: 'form-control' %>
        <span class="input-group-btn">
          <%= f.submit 'Search', class: "btn btn-primary" %>
        </span>
      </div>
    <% end %>
  </div>
</div>