<% provide(:title, @user.name)%>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for(@user)%>
        <%= @user.name %>
        <h6><%= link_to "Setting", edit_user_path(current_user) %></h6>
      </h1>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <p><%= @user.introduction %></p>
    </section>
  </aside>
  <div class="col-md-8">
  <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any?%>
      <h3>Microposts(<%= @user.microposts.count %>)</h3>
      <div class="search_form">
        <%= render 'shared/microposts_search_form' %>
      </div>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts%>
    <% end %>
  </div>
</div>
