<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.display_image if micropost.image.attached?%>
    </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
                                         data: { confirm: "You sure?" } %>
    <% end %>
  </span>
  <span class="like"><%= render "likes/like", micropost: micropost %></span>
  <span class="comment"><%= link_to "Comment", micropost_path(micropost)%></span>
</li>