<div class="row">
  <ul>
    <li class="comment-create">
      <h3 class="text-left title">コメント一覧</h3>
    </li>
    <li id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments } %>
    </li>
  </ul>
  <hr>
  <% if logged_in? %>
    <div class="comment-create">
      <h3 class="text-left">コメントを投稿する</h3>
      <%= render partial: 'comments/form', locals: { comment: @comment, micropost: @micropost } %>
    </div>
  <% end %>
</div>
