// @import "bootstrap-sprockets";
// @import "bootstrap";

// /* microposts */

// .microposts {
//   list-style: none;
//   padding: 0;
//   li {
//     padding: 10px 0;
//     border-top: 1px solid #e8e8e8;
//   }
//   .user {
//     margin-top: 5em;
//     padding-top: 0;
//   }
//   .content {
//     display: block;
//     margin-left: 60px;
//     img {
//       display: block;
//       padding: 5px 0;
//     }
//   }
//   .timestamp {
//     color: $gray-light;
//     display: block;
//     margin-left: 60px;
//   }
//   .gravatar {
//     float: left;
//     margin-right: 10px;
//     margin-top: 5px;
//   }
// }

// aside {
//   textarea {
//     height: 100px;
//     margin-bottom: 5px;
//   }
// }

// span.image {
//   margin-top: 10px;
//   input {
//     border: 0;
//   }
// }

